<h1 class="text-3xl font-bold">My Watchlist</h1>

 <!-- line -->
 <div aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="rounded-lg">
    <div>
        <div *ngFor="let item of movies">
            <div *ngIf="item.id != 1 && item.Watched == false" class="p-5 BorderBottom">
                <div class="grid grid-cols-12 firstLine">
                    <img src="{{item.Poster}}" class="h-32 col-span-3" alt="">
                    <div class="DivForMiddle pl-3 pr-3 col-span-6"><p class="text-gray-800 font-bold text-xl pt-10 ItemForMiddle md:text-2xl lg:text-3xl xl:text-3xl">{{item.Title}} <span class="font-bold">-</span> {{item.Year}}</p></div>
                    <div class="float-right col-span-3">
                            <div>
                                <button class="p-1 w-20 m-1 ml-0 sm:ml-1 hover:bg-slate-400 text-black font-semibold border-gray-500 border-2 rounded"><a href="/watchlist/{{item.id}}">Review</a></button>
                            </div>
                            <div>
                                <button (click)="removeMovie(item.id)" class="ml-0 sm:ml-1 p-1 w-20 m-1 hover:bg-slate-400 text-black font-semibold border-gray-500 border-2 rounded">Remove</button>
                            </div>                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
