<h1 class="text-3xl font-bold">My Watchlist</h1>

 <!-- line -->
 <div aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>


  <!-- movie list component -->
<div class="relative z-10 bg-white rounded-xl shadow-xl ring-1 ring-slate-900/5 divide-y divide-slate-100 my-auto xl:mt-18 dark:bg-slate-800 dark:divide-slate-200/5 dark:highlight-white/10">
    <nav class="py-4 px-4 sm:px-6 lg:px-4 xl:px-6 text-sm font-medium">
        <ul class="flex space-x-3">
            <li><div class="px-3 py-2 rounded-md bg-sky-500 text-white cursor-pointer">New<span class="hidden sm:inline lg:hidden xl:inline"> Releases</span></div></li>
            <li><div class="px-3 py-2 rounded-md bg-slate-50 cursor-pointer dark:bg-transparent dark:text-slate-300 dark:ring-1 dark:ring-slate-700">Top<span class="hidden sm:inline"> Rated</span></div></li>
            <li><div class="px-3 py-2 rounded-md bg-slate-50 cursor-pointer dark:bg-transparent dark:text-slate-300 dark:ring-1 dark:ring-slate-700">Vincent’s Picks</div></li>
        </ul>
    </nav>

    <app-watchlist-item class="p-4 sm:p-6 lg:p-4 xl:p-6 space-x-4 items-start sm:space-x-6 lg:space-x-4 xl:space-x-6 flex bg-slate-800" *ngFor="let movie of (movies$|async)?.Search" [movie]="movie"></app-watchlist-item>

    
</div>