<div class="">
    <div class="py-3 md:col-auto sm:max-w-xl sm:mx-auto">
      <div class="bg-white shadow-lg border-gray-100 max-h-80	 border rounded-3xl p-6 flex space-x-6">
        <div class="h-48 overflow-visible md:w-1/2 w-1/3 pb-12">
          <img class="rounded-3xl max-h-72 shadow-lg" src="{{movie.Poster}}" alt="">
        </div>

        <div class="flex flex-col w-1/2 space-y-4">
          <div class="flex justify-between items-start">
            <h2 class="text-3xl font-bold">{{movie.Title}}</h2>
          </div>

          <div>
            <div class="text-sm text-gray-400"></div>
            <div class="text-lg text-gray-800">{{ movie.Year }}</div>
          </div>

          <div class="flex text-2xl font-bold text-a">
            <button type="submit" class="inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-slate-600 shadow-sm focus:bg-slate-700 focus:text-white focus:outline-none ring-1 ring-slate-500 hover:ring-2 hover:ring-slate-500 hover:ring-offset-2">		<a 
              routerLink="/movie-detail" 
              [queryParams]="{ movieId: movie.imdbID }" 
              class="btn btn-primary">
              Learn More
            </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>